/* general */
:root {
    --header-height: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

p,
span,
a {
    font-size: 1rem;
}

/* header */
.navbar {
    height: var(--header-height);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-link {
    display: inline-block;
    padding: 5px 10px;
}

.navbar-link:hover {
    color: rgb(0, 128, 255);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 996px) {
    .navbar-list {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #navbar-search {
        display: none !important;
    }

    .menu-icon {
        font-weight: 500;
    }

    .menu-icon:hover {
        cursor: pointer;
    }
}

/* search suggest */
.search {
    position: relative;
}

.search-suggest {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 300px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    border-radius: 5px;
    background-color: #fff;
}

.search-suggest.show {
    display: block;
}

.search-suggest a {
    display: block;
    padding: 5px 10px;
}

.search-suggest a:hover {
    background-color: #d7d7d7;
}

.search-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-img {
    width: 50px;
    height: 50px;
}

.search-img img {
    width: 100%;
    border-radius: 5px;
}

.search-info p,
.search-info span {
    margin: 10px 0;
    font-size: 12px;
}

/* main */
.main {
    margin-top: calc(var(--header-height) + 2rem);
}

.carousel-img {
    width: 100%;
    height: 450px;
}

@media screen and (max-width: 800px) {
    .carousel-img {
        height: 300px;
        background-color: #0056d6
    }
}

#topic-carousel {
    position: relative;
}

.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #d7d7d7 !important;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .4);
    color: black;
}

.owl-carousel .owl-nav button span {
    font-weight: 500;
    font-size: 30px;
    position: relative;
    display: block;
    top: -3px;
}

.owl-carousel .owl-nav button:hover {
    background-color: #efefef !important;
}

.owl-carousel .owl-nav button.owl-next {
    right: -5px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -5px;
}

.song-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* validation */

.invalid {
    border: 1px solid red;
}

.valid {
    border: 1px solid green;
}

.error-msg {
    color: red;
    font-size: 14px;
}

/* alert */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.message.info {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 40;
    width: 400px;
    transition: all linear 0.3s;
    animation: slideInLeft ease .5s;
}

.alert-btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
}