.sider
    .sider-group 
        h6.sider-heading 
            i.fa-solid.fa-gauge
            span Dashboard 
        .sider-item 
            a(href=`${prefixAdmin}/dashboard` class="sider-link") Dashboard  
    
    .sider-group 
        h6.sider-heading 
            i.fa-solid.fa-gauge
            span Quản lí bài hát  
        .sider-item 
            a(href=`${prefixAdmin}/topics` class="sider-link") Chủ đề
            a(href=`${prefixAdmin}/songs` class="sider-link") Bài hát 
    
    .sider-group 
        h6.sider-heading 
            i.fa-solid.fa-gauge
            span Quản lí ca sĩ
        .sider-item 
            a(href="#" class="sider-link") Ca sĩ 

    .sider-group 
        h6.sider-heading 
            i.fa-solid.fa-gauge
            span Quản lí tài khoản admin  
        .sider-item 
            a(href="#" class="sider-link") Tài khoản admin
            a(href="#" class="sider-link") Bảng quyền 
            a(href="#" class="sider-link") Bảng phân quyền

    .sider-group 
        h6.sider-heading
            i.fa-solid.fa-gauge
            span Quản lí người dùng
        .sider-item 
            a(href="#" class="sider-link") Người dùng
    
    .sider-group 
        h6.sider-heading 
            i.fa-solid.fa-gauge
            span Cài đặt chung
        .sider-item 
            a(href="#" class="sider-link") Carousels
            a(href="#" class="sider-link") Cài đặt chung