extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
include ../../mixins/carousel.pug 

block main 
    .container 
        .row.my-4   
            .col-12 
                +carousel(carousels) 

        .row.my-4 
            +box-head("Chủ đề")

        .row.my-4 
            +box-head("Bài hát")

        .row.my-4 
            +box-head("Ca sĩ")
